.h1-details {
  width: 100%;
  text-align: center;
  margin: 3vh 0 5vh 0;
  font-weight: bold;
}


img{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

iframe {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.apply-button {
  margin: 0 auto;
}

.details-h2 {
  font-weight: bold;
  font-size: 1.rem;
}

.p-details {
  margin: 0px;
  line-height: 2rem;
  font-size: 1.2rem
}

.apply-kita-button {
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: bold;
}

.already-applied {
  color: red;
}

@media screen and (max-width: 900px) {
  
  iframe {
    margin: 5vh 0;
  }
}