
li[data-gender="girl"]::before { 
    content: "\2640";
 }

 li[data-gender="girl"] { 
  background-color:#d9ffd6;

}

li[data-gender="boy"]::before { 
  content: "\2642";
}

li[data-gender="boy"]{ 
  background-color:#faf8c5;
}

  .parents-h1 {
    font-weight: bold;
    margin: 20px 0 20px 0;
  }

  .applicants ul, li {
  text-decoration: none;
  list-style-type: none;
  padding: 15px;
  font-size: 1.4rem;
}

.english {
  font-size: 1.4rem;
}

input[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
}
 
 .form-horizontal {
  display: flex; 
  justify-content: space-around ;
}

ul {
  margin-top: 10px;
}
